.bigButton {
	-fx-text-fill: #063c8d;
	-fx-background-color: transparent;
	-fx-font-weight: bold;
	-fx-font-size: 28px;
}

.bigButton:hover {
	-fx-text-fill: #063c8d;
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-font-weight: bold;
	-fx-font-size: 28px;
	-fx-border-radius: 10;
	-fx-border-width: 2;
}